<header class="navbar">
    <div class="logo">
        <a href="/">SoundTrade</a>
    </div>
    <nav class="nav-links">
        <a href="/"> Home</a>
        <a href="/login" class="login-btn">Login</a>
        <a href="/signup" class="signup-btn">Sign Up</a>

    </nav>
</header>