<header class="navbar">
    <div class="nav-logo">
      <div class="logo">
        <a href="/">
          <img src="/image/SoundTrade-Photoroom (1).png" alt="SoundTrade logo">
        </a>
        
      </div>
    </div>
  
    <nav class="nav-links">
      
      <a href="/login">Login</a>
      <a href="/signup" class="signup-btn">Sign Up</a>
    </nav>
  </header>