<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SoundTrade</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header class="navbar">
  <div class="nav-logo">
    <a href="/" class="logo">
      <img src="/image/SoundTrade-Photoroom (1).png" alt="SoundTrade logo">
    </a>
  </div>

  <nav class="nav-links">
    <a href="/">Home</a>
    <a href="/results">Explore</a>
<% if (req.isAuthenticated()) { %>
<% <form action="/logout" method="post"> %>
<% <button type="submit" value="submit">Log Out</button></form> %>
<% <a href="/dashboard">View Account</a> %>
<% } else { %>
<% <a href="/auth">Login</a> %>
<% <a href="/auth" class="signup-btn">Sign Up</a> %>
  </nav>
</header>
