<header class="navbar">
  <div class="nav-logo">
    <a href="/" class="logo">
      <img src="/image/SoundTrade-Photoroom (1).png" alt="SoundTrade logo">
    </a>
  </div>

  <nav class="nav-links">
    <a href="/">Home</a>
    <a href="/results">Explore</a>
    <% if (currentUser) { %>
      <a href="/dashboard">View Account</a>
      <a href="/logout">Log Out</a>
    <% } else { %>
      <a href="/auth">Login</a>
      <a href="/auth" class="signup-btn">Sign Up</a>
    <% } %>
  </nav>
</header>
